.main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 100vh;
  color: #fafafa;
	width: 80%;
}

@media screen and (max-width: 768px) {
	.main {
		width: 100%;
	}
}
